<form action="/recipes" method="post">
    
    Title: <input type="text" name="recipe[title]" value="">
    Description: <input type="textarea" name="recipe[description]" value="">
    <br>

  <% (0..4).each do |i| %>
    <select name="recipe[riu][<%= i %>][ingredient_id]">
      <% Ingredient.all.each do |ingredient| %>
        <option value="<%= ingredient.id %>"><%= ingredient.name %></option>
      <% end %>
    </select>

    <input type="number" name="recipe[riu][<%= i %>][amount]" value="">
   
    <select name="recipe[riu][<%= i %>][unit_id]">
      <% Unit.all.each do |unit| %>
        <option value="<%= unit.id %>"><%= unit.unit %></option>
      <% end %>
    </select>

    <br>

  <% end %>

  <input type="submit" value="Submit">
</form>