<div class="col-md-6 col-sm-6">
  <div class="pricing-item">
    <a href="#">
      <%= image_tag "fruit2.png", class: "img-responsive img-thumbnail", style: "max-width: 250px; float: left;" %>
    </a>
    <div class="pricing-item-details">
      <h3><%= link_to recipe.title, recipe_path(recipe) %></h3>
      <p>
        <%= recipe.description.first(140) %>
        <%= "..." if recipe.description.length > 140 %>
      </p>
      <%= link_to "View recipe", recipe_path(recipe), class: "btn btn-danger pull-right", style: "position: absolute; bottom: 5px; right: 10px;" %>
      <div class="clearfix"></div>
    </div>
  </div>      
</div>