<script>
  $(document).ready(function(){
    $("#share a").jqSocialSharer();

    $("#add-to-cookbook").click(function(){
      $.ajax({
        url: "<%= add_recipe_to_cookbook_path %>",
        data: {
          user_id: <%= current_user.id if current_user %>,
          recipe_id: <%= @recipe.id %>
        },
        dataType: "script"
      });
    });
  });  
</script>

<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript" charset="utf-8">
  $(window).load(function() {


      messyChef.init();


    $('.flexslider').flexslider({
      slideshow: false
    });
  });

  window.onbeforeunload = function (e) {
    messyChef.stop();
  };
  
  $(function() {
    var progressTimer,
      progressbar = $( "#progressbar" ),
      progressLabel = $( ".progress-label" ),
      dialogButtons = [{
        text: "Cancel Download",
        click: closeDownload
      }],
      dialog = $( "#dialog" ).dialog({
        autoOpen: false,
        closeOnEscape: false,
        resizable: false,
        buttons: dialogButtons,
        open: function() {
          progressTimer = setTimeout( progress, 6000 );
        },
        beforeClose: function() {
          downloadButton.button( "option", {
            disabled: false,
            label: "Start Download"
          });
        }
      }),
      downloadButton = $( "#downloadButton" )
        .button()
        .on( "click", function() {
          $( this ).button( "option", {
            disabled: true,
            label: "Downloading..."
          });
          dialog.dialog( "open" );
        });
 
    progressbar.progressbar({
      value: false,
      change: function() {
        progressLabel.text( "Please give me a quick second" );
      },
      complete: function() {
        progressLabel.text( "Hmm, I'm sorry, you may want to refresh the page." );
        dialog.dialog( "option", "buttons", [{
          text: "Close",
          click: closeDownload
        }]);
        $(".ui-dialog button").last().focus();
      }
    });
 
    function progress() {
      var val = progressbar.progressbar( "value" ) || 0;
 
      progressbar.progressbar( "value", val + Math.floor( Math.random() * 3 ) );
 
      if ( val <= 99 ) {
        progressTimer = setTimeout( progress, 50 );
      }
    }
 
    function closeDownload() {
      clearTimeout( progressTimer );
      dialog
        .dialog( "option", "buttons", dialogButtons )
        .dialog( "close" );
      progressbar.progressbar( "value", false );
      progressLabel
        .text( "MessyChef is interpreting..." );
      downloadButton.focus();
    }
  });
  
</script>


<meta property="og:title" content="<%=@recipe.title%>"/>
<meta property="og:type" content="recipe"/>
<meta property="og:url" content="http://messychef.herokuapp.com/recipes/<%=@recipe.id%>"/>
<meta property="og:image" content=""/>
<meta property="og:site_name" content="MESSYCHEF"/>
<meta property="og:description"
      content="<%=@recipe.description%>"/>


<div id="interim">Start</div>

<div class="inner-page padd">
  <div class="blog">
    <div class="container">
      <div class="row">
        <div class="row col-md-8">

          <div class="blog-post">
            <div class="entry">
              <div class="blog-img pull-left">
                <% if @recipe.scraped == true %>
                  <img src="<%= @recipe.recipe_image_file_name %>" class="img-responsive img-thumbnail">
                <% else %>
                  <%= image_tag "chef-icon.jpg", class: "img-responsive" %>
                <% end %>
              </div>

              <h3><a href="#"><%= @recipe.title %></a></h3> 
              <% if @recipe.creator %>
                <p>Recipe created by: <%= @recipe.creator.name %></p>
              <% end %>
              <% if logged_in? && !current_user.recipes.include?(@recipe) %>
                <h3><button class="btn btn-success" id="add-to-cookbook">Add to Cookbook</button></h3>
              <% end %>

              <hr>

              <p>
                <%= @recipe.description %>
                <% if logged_in? %>
                  <div id="share"> 
                    <br><a href="#" class="facebook" data-social='{"type":"facebook", "url":"http://messychef.herokuapp.com/recipes/<%=@recipe.id%>", "text": ""}' title="">&nbsp &nbsp &nbsp Share with friends</a><br>
                  </div>
                <% end %>
              </p>

              <div class="clearfix"></div>
            </div>
          </div>


          <div class="row">
            <div class="recipe">
              <div class="col-md-6 col-sm-6">
                <div class="recipe-item">
                  <h5>Ingredients:</h5>
                  <ul class="list-unstyled">
                    <% @recipe.recipe_ingredient_units.each do |riu| %>
                      <li>
                        <i class="fa fa-check">
                        </i>
                        <% if @recipe.scraped == false %>
                          <%= riu.amount %> <%= Unit.find(riu.unit_id).unit.pluralize(riu.amount) if riu.unit_id %> <%= Ingredient.find(riu.ingredient_id).name %>
                        <% else %>
                          <%= riu.unit.unit %> <%= riu.ingredient.name %>
                        <% end %>
                        <div class="clearfix"></div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-8">
              <div class="recipe-item">
                <div id="interim">Start</div>
                <span id="dialog" title="">
                  <img alt="Chef icon" class="img-responsive" style="margin-left:auto; margin-right: auto;"src="/assets/chef-icon.jpg">
                  <span class="progress-label">Interpreting your beautiful voice...</span>
                  <span id="progressbar"></span>
                </span>
                <button id="downloadButton">Start Download</button>
              </div>
            </div>
          </div>

          <div class="recipe">
            <h5>Directions:</h5>
          </div>
            
        </div>
      </div>

      <div class="flexslider">
        <ul class="slides">
          <% @recipe.directions.sort_by { |d| d.sequence }.each do |direction| %>
            <li>
              <div>
                <div style="padding: 10px 45px 10px 45px;">
                  <%= direction.sequence %>.
                  <%= direction.description.capitalize[0] + direction.description.slice(1..-1) %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="row">
        <%= link_to '<< Back', recipes_path, class: "btn btn-danger pull-left" %>
        &nbsp;&nbsp;
        <% if logged_in? && @recipe.creator_id && @recipe.creator_id == current_user.id %>
          <%= link_to 'Edit', edit_recipe_path(@recipe), class: "btn btn-danger" %>
        <% end %>
      </div>

    </div>
  </div>
</div>

