<div class="row">
  <div class="form-group col-md-8">

    Add ingredients:
    <table id="add_ingredients" class="table table-bordered">

     <tr>
       <th></th>
       <th style="text-align:center;">Name</th>
       <th style="text-align:center;">Amount</th>
       <th style="text-align:center;">Unit of Measurement (optional)</th>
     </tr>

     <% if recipe.recipe_ingredient_units %>
      <% recipe.recipe_ingredient_units.each.with_index do |riu, i| %>
        <tr class="edit-ingredients">
          <td><button class="delete_this_ingredient btn btn-danger">x</button></td>
          <td><input type="text" name="recipe[recipe_ingredient_units][<%= i %>][ingredient]" class="form-control" value="<%= riu.ingredient.name %>"></td>
          <td><input type="number" name="recipe[recipe_ingredient_units][<%= i %>][amount]" class="form-control" value="<%= riu.amount %>"></td>
          <td><input type="text" name="recipe[recipe_ingredient_units][<%= i %>][unit]" class="form-control" value="<%= riu.unit.unit %>"></td>
        </tr>
      <% end %>
     <% end %>
     
    </table>    
    <button id="add_more_ingredients" class="btn btn-success">Add another ingredient</button>

  </div>
</div>